html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  color: white;
}
nav {
  background-color: #023e8a;
  margin: 0;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 100px;
}

.nav-left {
  width: 50%;
  height: 100px;
  padding: 5px;
}

.logo {
  height: 100%;
}
.nav-title {
  color: white;
  font-size: 2.2rem;
  position: absolute;
  left: 120px;
  top: 20px;
}
.nav-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.nav-button {
  border-radius: none;
  border: none;
  font-weight: bold;
  padding: 15px;
  background-color: transparent;
  color: #f0f0f0;
}
.nav-button:hover {
  background-color: #0077b6;
  cursor: pointer;
}
.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
header {
  grid-area: header;
  background-color: #212529;
  text-align: center;
}
main {
  grid-area: main;
  background-color: #212529;
}
footer {
  grid-area: footer;
  background-color: #212529;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.card {
  background-color: #343a40;
  transition: all 0.4s ease 0s;
}
.image-container {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card:hover {
  transform: translateY(-7px);
}
.card-content {
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
@media screen and (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .nav-title {
    top: 50px;
    left: 5px;
    font-size: 1.5rem;
  }
  .logo {
    height: 60%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about-us {
  color: white;
  font-size: 20px;
  text-align: center;
}
